* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

a {
  cursor: pointer;
}
a:hover {
  transition: all 0.2s;
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin-bottom: 0;
}

.header-container {
  height: auto;
  background: rgba(0, 0, 0, 0.4) url(../images/backgroud-header.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-container .header-top {
  display: flex;
  height: 34px;
  justify-content: start;
  position: relative;
  top: 8px;
  margin: 0px 16px 0px 26px;
}
.header-container .header-top .header-top-text {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  align-items: center;
}
.header-container .header-top .social-list-wrap {
  display: flex;
}
.header-container .header-top .social-list-item {
  padding: 0px 12px;
  text-decoration: none;
}
.header-container .header-top .social-list-item i {
  font-size: 20px;
  color: #fff;
}
.header-container .underline-header {
  background-color: #fff;
  margin-top: 4px;
  width: 100%;
  height: 2px;
}
.header-container .header-bottom {
  display: flex;
}
.header-container .logo-text-bottom {
  color: #fff;
}
.header-container .logo-text-bottom,
.header-container .drop-down-header,
.header-container .search-header-wrap,
.header-container .cart-header {
  margin-left: 22px;
  align-items: center;
  display: flex;
}
.header-container .drop-down-header {
  position: relative;
}
.header-container .drop-down-header:hover .category-drop-down {
  display: block;
}
.header-container .drop-down-header .drop-down-text {
  cursor: pointer;
  display: block;
  color: #fff;
}
.header-container .drop-down-header .category-drop-down {
  position: absolute;
  padding: 16px;
  top: 70px;
  background-color: #fff;
  border-radius: 4px;
  width: 350px;
  display: none;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgb(133, 125, 125);
  z-index: 1;
}
.header-container .drop-down-header .category-drop-down:before {
  content: "";
  position: absolute;
  left: 24px;
  top: -40px;
  border-width: 26px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.header-container .drop-down-header .category-drop-down:after {
  content: "";
  display: block;
  position: absolute;
  width: 116px;
  height: 44px;
  left: 0;
  top: -30px;
}
.header-container .drop-down-header .category-drop-down-wrap {
  margin-top: 10px;
}
.header-container .drop-down-header .meal-type,
.header-container .drop-down-header .ingredient {
  color: rgb(133, 125, 125);
  font-weight: 600;
}
.header-container .drop-down-header .meal-type span,
.header-container .drop-down-header .ingredient span {
  float: right;
}
.header-container .drop-down-header .meal-type-child-wrap,
.header-container .drop-down-header .ingredient-child-wrap {
  margin-left: 28px;
}
.header-container .drop-down-header .meal-type-child-wrap a,
.header-container .drop-down-header .ingredient-child-wrap a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(133, 125, 125);
  font-weight: 500;
}
.header-container .drop-down-header .meal-type-child-wrap a:hover,
.header-container .drop-down-header .ingredient-child-wrap a:hover {
  color: purple;
  font-weight: bold;
  transition: 0.2s linear;
}
.header-container .drop-down-header .underline-category {
  width: 100%;
  background-color: #000;
  height: 1px;
}
.header-container .search-header-wrap {
  width: 400px;
  position: relative;
}
.header-container .search-header-wrap.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  display: block;
}
.header-container .search-header-wrap.active .autocom-box li {
  display: block;
}
.header-container .search-header {
  padding: 8px;
  border: 2px solid rgb(133, 125, 125);
  border-radius: 4px;
  color: purple;
  font-size: 18px;
  width: 100%;
}
.header-container .search-header::placeholder {
  color: rgb(133, 125, 125);
  font-size: 16px;
}
.header-container .search-header-btn {
  background-color: #000;
  padding: 6px 12px;
  border-radius: 3px;
  margin-left: 1px;
}
.header-container .search-header-btn i {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.header-container .autocom-box {
  background-color: #fff;
  width: calc(100% - 46px);
  position: absolute;
  top: 90%;
  left: 2px;
  box-shadow: 0 2px 10px rgb(133, 125, 125);
  border-radius: 5px;
  padding: 16px 0px;
  z-index: 1;
  pointer-events: none;
  display: none;
}
.header-container .autocom-box li {
  display: none;
  padding: 8px 12px;
  width: 100%;
  cursor: pointer;
}
.header-container .autocom-box li:hover {
  background-color: #f0e9e9;
}
.header-container .cart-header {
  cursor: pointer;
  position: relative;
}
.header-container .cart-header:hover .cart-list {
  display: block;
}
.header-container .category-drop-down {
  display: none;
}
.header-container .cart-header-btn-group {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 18px;
  padding: 18px 6px;
  background-color: orange;
}
.header-container .cart-header-icon,
.header-container .cart-header-text,
.header-container .cart-header-count {
  padding: 0px 4px;
}
.header-container .cart-header-text,
.header-container .cart-header-count {
  color: #000;
}
.header-container .cart-header-icon i {
  color: #000;
}
.header-container .cart-header-count {
  background-color: #fff;
  margin-left: 4px;
  border-radius: 2px;
}
.header-container .cart-header-count span {
  color: #000;
}
.header-container .cart-list {
  position: absolute;
  top: calc(100% + 14px);
  right: -14px;
  background-color: #fff;
  width: 510px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgb(133, 125, 125);
  z-index: 1;
  display: none;
}
.header-container .cart-list:after {
  content: "";
  position: absolute;
  right: 50px;
  top: -40px;
  border-width: 26px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.header-container .cart-list:before {
  content: "";
  display: block;
  position: absolute;
  width: 134px;
  height: 44px;
  right: 14px;
  top: -30px;
}
.header-container .cart-list-title {
  margin: 8px 0px 8px 12px;
  font-size: 1rem;
  color: rgb(133, 125, 125);
  font-weight: 600;
}
.header-container .cart-list-item {
  padding-left: 0;
}
.header-container .cart-item {
  display: flex;
  align-items: center;
}
.header-container .cart-item:hover {
  background-color: #f0e9e9;
}
.header-container .cart-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
}
.header-container .cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header-container .cart-item-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .cart-item-name {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.header-container .cart-item-price {
  font-size: 1rem;
  font-weight: 500;
  color: orange;
}
.header-container .cart-item-multiply {
  font-size: 0.8rem;
  color: rgb(133, 125, 125);
}
.header-container .cart-item-quantity {
  font-size: 1rem;
  color: rgb(133, 125, 125);
}
.header-container .cart-item-info-bottom {
  display: flex;
  justify-content: space-between;
}
.header-container .cart-item-description {
  font-size: 0.8rem;
  color: rgb(133, 125, 125);
}
.header-container .cart-item-remove {
  font-size: 1rem;
  color: #000;
}
.header-container .cart-item-remove:hover {
  color: red;
}
.header-container .go-to-cart-btn {
  height: 40px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  background-color: orange;
  border-radius: 6px;
  float: right;
  margin-right: 12px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-container .go-to-cart-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.2s;
}

.product {
  margin-top: 18px;
}
.product .product-title {
  margin: 0px 16px;
}
.product .product-title-content {
  font-size: 28px;
  font-weight: 100;
  color: rgb(133, 125, 125);
}
.product .product-title-description {
  font-size: 18px;
}
.product .product-underline {
  width: 50%;
  height: 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: orange;
}
.product .product-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.product .product-list-wrap {
  width: 70%;
  margin: auto;
  padding-bottom: 14px;
  border: 2px solid rgb(133, 125, 125);
  border-radius: 7px;
}
.product .product-list-wrap .product-img {
  width: 100%;
  display: block;
}
.product .product-list-wrap .product-img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.product .product-list-wrap .product-content {
  margin: 4px 16px;
}
.product .product-list-wrap .product-content .product-content-title {
  margin-top: 10px;
  color: #3d3a3a;
  font-size: 22px;
  font-weight: bold;
}
.product .product-list-wrap .product-content .product-content-desc {
  margin-top: 18px;
  color: rgb(133, 125, 125);
}
.product .product-list-wrap .product-content .product-content-price {
  margin-top: 18px;
  color: orange;
  font-weight: 600;
}
.product .product-list-wrap .add-to-cart-btn {
  margin: 20px 0px 0px;
  border-radius: 3px;
  width: 100%;
  height: 48px;
  color: #fff;
  font-size: 18px;
  background-color: purple;
  cursor: pointer;
}
.product .slick-initialized .slick-slide {
  margin: 0px 6px;
}

.footer {
  width: 100%;
  background-color: #3d3a3a;
  margin-top: 20px;
}
.footer .footer-container {
  display: flex;
  justify-content: space-around;
}
.footer .info-list {
  padding: 12px 0px;
}
.footer .info-list-item {
  padding: 6px 26px;
}
.footer .info-item-link {
  font-size: 22px;
  color: #ddd8d8;
  text-decoration: none;
}
.footer .info-item-link:hover {
  color: #fff;
}
.footer .footer-download {
  margin: 26px;
}
.footer .footer-download .company-name {
  color: #fff;
}
.footer .download-app-img {
  width: 200px;
  height: 50px;
}