// Color
$primary-color: rgb(5, 96, 153);
$font-main-color: #fff;
$black-color: #000;
$gray-color: rgb(133, 125, 125);
$gray-dark-color: #3d3a3a;
$gray-light-color: #ddd8d8;
$orange-color: orange;
$red-color: red;
$overlay-full-sceen: rgba(0, 0, 0, 0.3);


// Responsive
$bp-mobile: 786px;